[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.devnet]
votingdapp_onchain = "8gbFCLsHxGtpGMxkPmoEYmgKQKFbcQangq3qTEuPjdb7"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet ="/home/steve/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 \"tests/**/*.ts\""
