[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.devnet]
votingdapp_onchain = "GKitHVjmys9uUNowfWQy1jmuDgXKXcfSjCtpNG9cuQ1E"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "/home/dean/Voting_Dapp_solana/admin-keypair.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 \"tests/**/*.ts\""
